.b-title {
  display: flex;
  padding: 0 10rem 0 10rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; /* Wrap items to the next line if the screen is narrow */
  font-family: "Kanit";
  text-align: center;
}

.bc {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; /* Wrap items to the next line if the screen is narrow */
  font-family: "Kanit";
  margin-bottom: 40px;
}

#orga,
#pers {
  flex: 1;
  padding: 20px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column; /* Stack button and text vertically */
  transition: transform 500ms;
}

#orga {
  border: 1px solid #5b9bd5;
  box-shadow: 5px 5px#5B9BD5;
  background-color: var(--primary-color);
}

#pers {
  border: 1px solid var(--percolor);
  box-shadow: 5px 5px #c78900;
  background-color: var(--percolor);
}

#orga ul,
#pers ul {
  padding-inline-start: 40px;
  padding-inline-end: 20px;
}

#orga:hover,
#pers:hover {
  transform: scale(1.05);
}

#orga .linkBtn,
#pers .linkBtn {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
}

#orga,
#pers p {
  text-align: start;
}

.linkBtn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 10rem;
  background-color: #007bff;
  color: white;
  text-decoration: none!important;
  text-align: center;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px#5B9BD5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkBtn:hover {
  background-color: #0056b3;
}

li {
  margin-bottom: 0.2rem;
}

#per-btn {
  background-color: #ffc000;
  box-shadow: 5px 5px#c78900;
}

#per-btn:hover {
  background-color: #e5a900; /* This is a slightly darker shade. Adjust as needed. */
}

hr {
  width: 70%;
  height: 5px;
  background-color: #54595f;
  border: none;
  border-radius: 50px;
  margin-bottom: 1rem;
}

/* Add responsive styles for smaller screens if necessary */
@media (max-width: 768px) {
  #orga,
  #pers {
    max-width: 100%; /* Allow boxes to take full width on smaller screens */
    min-height: 100%;
  }
  .b-title {
    display: flex;
    padding: 0 1rem 0 1rem;
  }
}
