form {
  display: flexbox;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

.errors {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

form {
  font-family: "Georgia", serif;
  font-size: 18px;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 22px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}
