.page-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full viewport height */
}

.content.blurred {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  z-index: -1;
}

.content {
  margin-top: 20px;
}

.title {
  text-align: center;
  justify-content: center;
}

.holding-container{
  display: flex;
  justify-content: center;
  padding-right: 10vw;
  margin-top: 10rem;
}

.soon{
  display: flex;
  justify-content: center;
  padding-left: 10vw;
}