.page-container {
  display: flex;
  flex-direction: column;
  height: 200vh; /* Full viewport height */
  background-image: url('D:\Workbench\TS\ent-user-system\front\ent-user\src\components\UserPage\cover00.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.blurred {
  filter: blur(5px);
  z-index: -1;
}

.content {
  margin-top: 20px;
}

.title{
  height: 95vh;
  text-align: center;
  justify-content: center;
  
}