.user-panel {
  position: absolute; /* or fixed, depending on your layout */
  width: 100%;
  right: 0;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.user-panel.expanded{
  position: fixed;
}

.user-panel.compact {
  border-radius: 10px;
  width: 200px;
  height: 100px;
  padding: 0;
}

.compact-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px;
  height: 100%;
}

.compact-username,
.compact-email {
  font-size: 14px;
  color: #ffffff;
  margin: 2px;
}

.user-panel-title {
  margin-bottom: 16px;
  color: #ffffff;
}

.user-info {
  margin-bottom: 16px;
}

.user-info-item {
  margin-bottom: 8px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5vw;
}

.user-action-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.user-action-edit {
  background-color: #ffffff;
  color: #007bff;
}

.user-action-edit:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.user-action-logout {
  background-color: #dc3545;
  color: #ffffff;
}

.user-action-logout:hover {
  background-color: #c82333;
}
