.user-panel {
  position: absolute; /* or fixed, depending on your layout */
  right: 0;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 16px;
  width: 300px;
  height: 280px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  font-family: "Kanit";
  color: var(--black);
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.user-panel.expanded{
  position: fixed;
}

.user-panel.compact {
  position: fixed;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  padding: 0;
}

.compact-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px;
  height: fit-content;
}

.compact-username,
.compact-email {
  font-size: 14px;
  color: var(--black);
  margin: 2px;
}

.user-panel-title {
  margin: auto;
  color: var(--black);
}

.user-info {
  margin-bottom: 16px;
}

.user-info-item {
  margin-bottom: 8px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5vw;
}

.user-action-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.user-action-edit {
  background-color: var(--fourth-color);
  color: var(--white);
}

.user-action-edit:hover {
  scale: 1.05;
}

.user-action-join{
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
}

.user-action-join:hover{
  background-color: var(--white);
  color: var(--second-color);
}

.user-action-logout {
  background-color: #dc3545;
  color: #ffffff;
}

.user-action-logout:hover {
  background-color: #c82333;
}

.status{
  padding-left: 1rem;
/* color: var(--black); */
}

.sta-active{
  color: var(--active-color);
}

.std{
  color: var(--nature-gray);
}

.org{
  color: var(--orgcolor);
}

.per{
  color: var(--percolor);
}
