.admin-panel {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.search-input {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  box-sizing: border-box !important;
  width: auto!important;
}

.user-table {
  margin: 20px;
  border-collapse: collapse;
  box-sizing: border-box;
}

.table-header,
.user-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
}

.table-header {
  background-color: #f2f2f2;
  text-align: center;
}

.sort-button {
  padding: 5px 10px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #ddd;
}

.status-active {
  color: green;
}

.status-pending {
  color: orange;
}

.status-expired {
  color: red;
}

.role-admin{
  color: #a67c00;
  text-shadow: 0 0 1px #a67c00,  /* Slight blur */
               0 0 1px #a67c00, /* Moderate blur */
               0 0 15px #a67c00, /* Strong blur */
               0 0 20px #a67c00, /* Stronger blur */
               0 0 25px #a67c00, /* Even stronger blur */
               0 0 30px #a67c00, /* Very strong blur */
               0 0 35px #a67c00; /* Maximum blur */
}