.admin-panel {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.search-input {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  box-sizing: border-box !important;
  width: auto !important;
}

.user-table {
  margin: 20px;
  border-collapse: collapse;
  box-sizing: border-box;
  
}

.table-header,
.user-table td {
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  /* border-right: 1px solid #ccc; */
  text-align: left;
}

.table-header {
  background-color: #f2f2f2;
  text-align: center;
}

.sort-button {
  padding: 5px 10px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #ddd;
}

.admin-btn{
  min-width: 40%;
}

.status-active {
  border-radius: 10px;
  color: var(--white);
  background-color: var(--active-color);
}

.status-pending {
  border-radius: 10px;
  color: var(--white);
  background-color: var(--pending-color);
}

.status-expired {
  border-radius: 10px;
  color: var(--white);
  background-color: var(--expire-color);
}

.role-admin {
  font-size: var(--subtitle-font-size);
  color: #a67c00;
  text-shadow: 0 0 2px #000000
}
