@import "~font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

:root {
  --primary-blue: #007bff;
  --dark-blue: #0056b3;
  --input-border-color: #ccc;
  --dark-color: #373737;
  --black: #000;
  --white: #fff;
  --nature-gray: #c7c8b9;
  --orgcolor: #5b9bd5;
  --percolor: #ffc000;
  --active-color: #39FF14;
  --expire-color: #FF073A;
  --pending-color: #FFA500;
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;
  --text-font-size: 1rem;

  /* main color scheme */
  --primary-color: #4175fc;
  --second-color: #26265f;
  --third-color: #101218;
  --fourth-color: #494b51;
  --fifth-color: #f3f5f5;
  --sixth-color: #4b4f58;
  --seventh-color: #f6f7f8;
}

html,
button {
  font-family: "Kanit";
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-color);
  z-index: -2;
}

.logout{
  align-self: self-end;
}

#logout-btn{
  background-color: var(--expire-color);
}

